
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #04010b;
    background-color: #8d63ef;
    border-color: #7f50ed;
}

.alert-primary hr {
    border-top-color: #6e39eb;
}

.alert-primary .alert-link {
    color: #000000;
}

.badge-primary {
    color: #fff;
    background-color: #2d0c7b;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #1c074c;
}

.bg-primary {
    background-color: #2d0c7b !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #1c074c !important;
}

.border-primary {
    border-color: #2d0c7b !important;
}

.btn-primary {
    color: #fff;
    background-color: #2d0c7b;
    border-color: #2d0c7b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #21085a;
    border-color: #1c074c;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 12, 123, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2d0c7b;
    border-color: #2d0c7b;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1c074c;
    border-color: #16063e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 12, 123, 0.5);
}

.btn-outline-primary {
    color: #2d0c7b;
    background-color: transparent;
    border-color: #2d0c7b;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2d0c7b;
    border-color: #2d0c7b;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 12, 123, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #2d0c7b;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2d0c7b;
    border-color: #2d0c7b;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 12, 123, 0.5);
}

iframe {
    width: 100%;
    aspect-ratio: 3/2;
}

.list-group-item-primary {
    color: #04010b;
    background-color: #7f50ed;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #04010b;
    background-color: #6e39eb;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #04010b;
    border-color: #04010b;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #7f50ed;
}

.table-hover .table-primary:hover {
    background-color: #6e39eb;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #6e39eb;
}

.text-primary {
    color: #2d0c7b !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #1c074c !important;
}